
div.container{
    color:white;
    position: absolute;
    top: 295px;
    left: 680px;
    background-color:black;
    opacity: 0.9;
    border: 2px solid #32BDF2;
    border-radius: 12px;
    border-radius: 12px;
    padding-left:20px;
    padding-right:20px;
    padding-top:25px;
    height: 300px;
    width: 460px;
    
}


#result{
    font-size: 18px;
    color:black;
    width: 100px;
    background: silver;

}
#head{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color:black;
    background-color: #32BDF2; 
    border-radius: 12px;
    padding:10px;
    margin-left: 54px;
    
}
ul.sub-container{
    width: 330px;
    height: 225px;
    background-color: #32BDF2;
    border-radius: 12px;
    padding-left: 55px;
    margin-left: 39px;
    margin-top: 23px;
    list-style: none;
}
li{
    list-style: none;
    padding-right: 10px;
    padding-top:10px;
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    
    margin-left: 13px;
}
div.head-container{
    background-color: #32BDF2; 
    border-radius: 12px;

}