<hr>
<hr>
<h1>Data Binding Demo</h1>
<hr>
<hr>
<!--
<app-directivedemo></app-directivedemo>
<hr>
<hr>

<person fname="Paras" lname="Deshbhratar" age="26" renumeration=12000></person>
<calci a = 20 b =20 operation="add"></calci>
<hr><hr>
<button (click)="display()">DISPLAY/HIDE</button>
<div *ngIf="comp">


<app-lifecycle></app-lifecycle>
</div>
<app-interpolation></app-interpolation>
<app-propertybinding></app-propertybinding>

<app-calculator></app-calculator>

<app-pipedemo></app-pipedemo>
-->
<app-eventbinding></app-eventbinding>
<!--
<app-twowaybinding></app-twowaybinding>
-->